.form{
    width: 80%;
}
.form textarea{
   display: block;
   width: 100%;
   margin: 20px 0;
   border:1px solid blue;
  font-size: 20px;
  border-radius: 5px;
   
}
.submit-btn{
    padding:5px 30px;
    background-color: rgba(22, 69, 158, 0.836);
    border-radius: 5px;
    color:white;
    outline: none;
    
}